 
/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}



body{
  background-color: #f9f3f3;
}
.table-pink{
  background-color: #f7d9d9;
}
.tit{
  background-color: #f7d9d9;
  height: 60px;
  padding: 10px;
  ;
}

.footer{
    background-color: #f7d9d9;
    height: 250px;
    text-align: center;
    font-weight:600;
    padding: 5rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #0E2431;
    margin: 0 var(--mb-2)
  }